extends layout
block head
  title= 'Tropical Poncho | SOMA BETA'
  if ar
    script(src="//unpkg.com/aframe")
    script(src="//unpkg.com/@ar-js-org/ar.js")
block css
  link(rel='stylesheet', type="text/css", href='/stylesheets/network.css')
block js
  script(src="//unpkg.com/3d-force-graph")
  if ar
    script(src="//unpkg.com/3d-force-graph-ar@2.0.7")
    script var ar = !{JSON.stringify(ar)};

  script(src="//unpkg.com/three@0.144.0")
  script(src="//unpkg.com/three-spritetext")
  script(src="//unpkg.com/three/examples/js/shaders/CopyShader.js")
  //script(src="//unpkg.com/three/examples/js/postprocessing/Pass.js")
  //script(src="/javascripts/threex.keyboardstate.js")
  //script(src="//unpkg.com/three/examples/js/shaders/LuminosityHighPassShader.js")
  //script(src="//unpkg.com/three/examples/js/postprocessing/UnrealBloomPass.js")
  script(src="https://ga.jspm.io/npm:es-module-shims@1.6.2/dist/es-module-shims.js")
  script(type="importmap").
    {
      "imports": {
        "three": "//unpkg.com/three@0.144.0/build/three.module.js",
        "three/addons/": "//unpkg.com/three@0.144.0/examples/jsm/"
      }
    }
  script(type="x-shader/x-vertex", id="vertexshader").
    uniform float amplitude;

    attribute vec3 displacement;
    attribute vec3 customColor;

    varying vec3 vColor;

    void main() {

      vec3 newPosition = position + amplitude * displacement;

      vColor = customColor;

      gl_Position = projectionMatrix * modelViewMatrix * vec4( newPosition, 1.0 );

    }
  script(type="x-shader/x-fragment", id="fragmentshader").
    uniform vec3 color;
    uniform float opacity;

    varying vec3 vColor;

    void main() {
      gl_FragColor = vec4( vColor * color, opacity );
    }
  //script(type="module", src="/javascripts/glBlob/Blob.js")
  script(type="module", src="/javascripts/js.cookie.min.mjs?version=2")
  script(type="module", src="/javascripts/network.js?version=3")
  script(type="module", src="/javascripts/titleObject.js?version=2")
  if neurons
    script var neurons = !{JSON.stringify(neurons)};
  if fromId
    script var fromId = !{JSON.stringify(fromId)};
  if fromNickName
    script var fromNickName = !{JSON.stringify(fromNickName)};
  if myNeuronId
    script var myNeuronId = !{JSON.stringify(myNeuronId)};
  if myNickName
    script var myNickName = !{JSON.stringify(myNickName)};
block content
  #neuralNetwork
  #navScene(class='navbar-fixed')
  //a(type='button' class='btn-floating waves-effect waves-light btn triggerFloatingInfo')
    i#close.material-icons clear
  //a(type='button' class='btn-floating waves-effect waves-light btn triggerFloatingInfo')
    i#open.material-icons chevron_right
  #flyerInfo.floatingInfo
    .neuronInfoContainer
    #introNetwork
      h3 21.01.23
      h4 Meraki - El Hoyo, Chubut
      h5 Experiencia artística Inmersiva
      p. 
        Soma es un festival de arte multidisciplinario producido por Tropical Poncho. 
        Esta edición invita a pensar la conexión entre todes nosotres como una gran red neuronal que produce consciencia colectiva.
      h6 LINE UP
      ul
        li ONLY VINYLS DJ SET
        li MEDITACIÓN
        li ENTRENAMIENTO PERFORMATICO
        li PERFORMANCE 
        li BANDAS EN VIVO
        li TALLERES
        li EXPOSICIONES
    a(class="btn" id="btn_explainNetwork") ¿Qué estoy viendo?
    #explainNetwork.hidden
      p. 
        Esta es una obra de arte generativo, dinámica e interactiva, que además de servir como difusión del evento SOMA BETA, 
        responde a la interacción de quienes acceden a ella como primer acercamiento del eje curatorial del mismo.
      p(style="font-size:16; font-weight: bold;").
        Los nodos representan personas u organizaciones y las lineas responden a las conexiones entre sí.  
        Cada persona que accede a la visualización de la obra, es representada automaticamente como un nuevo nodo y
        un nuevo vinculo que se extiende hacia aquel que sirvió como punto de acceso. 
      p. 
        Existe un patrón que se repite 
        a nivel físico, natural y social: Desde la red neuronal que conforma 
        nuestra consciencia, la cual es el soporte de esta gran obra de arte inmersiva y al mismo tiempo 
        la inmensa red de productoras, espacios, colaboradores y artístas que se conectan para hacer posible su realización.
      p(style="font-weight: bold;"). 
        Podés explorar la red, clickeando en aquellas neuronas que tienen nombre para conocer más de los artistas, 
        del espacio o de las productoras involucradas.
    #entranceDiv
      a(type='button' class='waves-effect waves-light btn' target="_blank" href='https://www.passline.com/eventos/soma') Comprar Entrada Anticipada
    #shareDiv(class='row')
      p Para escapar de las garras de instagram como medio de difusión y para expandir la red, porfa compartí por este medio:
      //a(type='button' class='waves-effect waves-light btn s3' id="share_story" href='') Compartir Historia
      //span(class='s1')
      a(type='button' class='waves-effect waves-light btn s3' id="share_wpp") Compartir por WhatsApp